<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SunSurfSea | HOME'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body >
<div class="Page container-xxl flex-container bg-white shadow-lg">
    <%- include('./partials/nav.ejs') %>
        <div class="titleBox d-flex">
            <div class="featureTopBox d-flex col-12">
            <div class="featureTextBox col-5">
                <div class="homeTitle">
                    <h2 class="homeTitle">Off the Beaten Path in Uncharted Waters</h2>
                    <br>
                    <p class="homeIntro">Come dive with us into the depths of the unknown, where the vast ocean becomes our canvas and life's greatest mysteries unfold. Join our Off the Beaten Path journey as we chart uncharted waters, exploring the ocean's hidden wonders and discovering the profound connection between the sea and the essence of life itself.</p>
                </div>
                <br>
                <div class="featureBtn gap-2 justify-content-md-start ">
                    <a href="/blogPosts/" class="btn btn-primary btn-dark btn-sm px-3 me-md-4">Explore</a>
                    <a href="/about" class="btn btn-outline-secondary btn-sm px-3 me-md-2">About</a>
                </div>
            </div> 
                <div class="featureImg col-7 row-2">
                    <video class="featureImg" width="400" height="400" controls>
                        <source src="public/assets/TravelVideo.MP4" type="video/mp4">

                        Your browser does not support the video tag.
                      </video>
                    <!-- <img src="https://i.postimg.cc/ydxgbqrj/ruslan-bardash-unsplash.jpg" class="featureImg" Loading="lazy" alt="sun surf sea">
                    <p class="featureImgTxt col-6 row-2">photo by ruslan bardash, unsplash</p> -->
                </div>
                <br><br>
            </div>
        </div> 

        <div class="featuredBox col-12">
            <div class="featured">
                <ul class="featured">         
                    <% for (let blogPost of blogPosts) { %>
                        <li>
                            <a href="/blogPosts/<%= blogPost._id %>" class="featuredMoreImg"><img class="featuredMoreImg" src="<%= blogPost.image %>" alt="img"></a>
                        </li>
                        <br>
                        <li>
                            <h6 class="featuredMoreTitle"><%= blogPost.description %></h6>
                        </li>
                    <% } %>
                </ul> 
            </div>
        </div>
        <br><br><br>

    </div>
    <br>
    <%- include('./partials/foot.ejs') %>
   
</body>

</html>
                      
                             
