<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs', {title: `SunSurfSea | DETAIL`}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head> 
    
    <body>
        <div class='detailPage container-xxl  bg-white shadow-lg'>
            <%- include('partials/nav.ejs') %>
            <div class="detailTitleBox">
                <div class='detailTopBox col-12">
                    <div class="featureTextBox col-12'>
                        <img class='detailImg' src='<%= blogPost.image %>' alt='img'></a>
                        <p class='blogDetailImgTxt'><%= blogPost.imageSource %></p>
                    <br>
                        <h2 class='blogDetailTitle'><%= blogPost.headline %></h2>
                    <br>
                        <p class='blogDetailTitle'><strong><%= blogPost.authorName %>  |  <%= blogPost.datePublished.toDateString() %></strong></p>
                        <p class='blogDetailText'>
                            <% for (let i = 0; i < blogPost.article.length; i++) { %>
                              <%= blogPost.article[i] %>
                              <% if (i < blogPost.article.length - 1) { %> 
                            <br><br>
                              <% } %>
                            <% } %>
                          </p>
                        <br><br><br>
                    <div class='blogPost-detail-btn-group'>
                        <a href='/blogPosts/<%= blogPost._id %>/edit' class='btn btn-outline-secondary btn-sm px-3 me-md-2'>Update</a> 
                        <form method="POST" action="/blogPosts/<%= blogPost._id %>?_method=DELETE">
                        <input class="btn btn-outline-secondary btn-sm px-3 me-md-2" type="submit" value="Delete"/></form> 
                        <a href="/reviews/new/<%= blogPost._id %>" class="btn btn-outline-secondary btn-sm px-3 me-md-2">Review</a>
                    </div>
                    <br><br>
                    <div>
                        <p><strong>Reviews: </strong></p>
                        <% if (blogPost.reviews.length > 0) { %>
                            <% blogPost.reviews.forEach(function(review) { %>
                                <p><strong>Rating: </strong><%= review.reviewRating %></p>
                                <p><strong></strong><%= review.reviewDescription %></p>
                                <p><%= review.reviewName %> | <%= review.reviewEmail %> | <%= review.reviewDate.toDateString() %></p>
                                <a href="/reviews/<%= review._id %>" class="btn btn-outline-secondary btn-sm px-3 me-md-2">DETAILS</a>
                            <% }); %>
                        <% } %>
                        
                         
                    </div>    
                    </div>
                </div>
                <br>
            </div>    
        </div>

    </body>
    <%- include('./partials/foot.ejs') %>  
</html>
