<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `Edit Blog`}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>


    <form method="POST" action="/blogPosts/<%= blogPost._id %>?_method=PUT">

        <!-- Sample form input entry /ensure name field matches schema -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= blogPost.headline %>" required>
       
        <input type="submit" value="Edit Blog">
    </form>

    <%- include('./partials/foot.ejs') %>
</body>

</html>
