<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'SunSurfSea | EXPLORE'}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body >
    <div class="Page container-xxl flex-container bg-white shadow-lg">
        <%- include('partials/nav.ejs') %>
            <div class="titleBox d-flex">
                <div class="blogIndexTopBox d-flex col-12">
                    <div class="blogIndexImg">
                        <img src="https://i.postimg.cc/J4HRbTgC/jack-ward-unsplash.png" width="450" class="d-block mx-lg-auto img-fluid" Loading="lazy" alt="sun surf sea">
                        <p class="blogIndexImgTxt">photo by jack ward, unsplash</p>
                    </div>
                    <div class="blogIndexTextBox">
                        <br><br><br>
                    <div class="blogIndexTitle">
                        <h2 class="blogIndexTitle">Explore stories</h2>
                        <br>
                        <p class="blogIndexIntro">...where the vast ocean becomes our canvas and life's greatest mysteries ...</p>
                    </div>
                    <br>
                    
                </div> 
                    <br><br>
                </div>
            </div> 
    
            <div class="indexBox col-12">
                <div class="featured">
                    <ul class="featured">         
                        <% for (let blogPost of blogPosts) { %>
                            <li>
                                <a href="/blogPosts/<%= blogPost._id %>" class="featuredMoreImg"><img class="featuredMoreImg" src="<%= blogPost.image %>" alt="img"></a>
                            </li>
                            <br>
                            <li>
                                <h6 class="featuredMoreTitle"><%= blogPost.description %></h6>
                                <br>
                            </li>
                        <% } %>
                    </ul> 
                    
                </div>
            </div>
            <br><br><br>
    
        </div>
        <br>
        <%- include('./partials/foot.ejs') %>
       
    </body>
    
    </html>
