<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: `SunSurfSea | REVIEW`}) %>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
    <div class="Page container-xxl flex-container bg-white shadow-lg">    
    <%- include('./partials/nav.ejs') %>
    <br>
    <div class="detail-box">
       
    <div>
        <br>
        <h2>Review Detail</h2>
        <br>
        <h3><%= review.reviewDescription %> </h3>
        <h4><%= review.reviewName %> </h4>
        <p><strong>RATING: </strong><%= review.reviewRating %>   |   <strong>DATE: </strong> <%= review.reviewDate.toDateString() %>   |   <strong>Email: </strong> <%= review.reviewEmail %></p>
        <br>
        <!-- <form method="POST" action="/reviews/<%= review._id %>?_method=DELETE">
            <input class="btn btn-outline-secondary btn-sm px-3 me-md-2" type="submit" value="Delete" />
        </form> -->
    <br>
    <br>
    </div>
    </div>
    </div>
    <br>   
    <%- include('./partials/foot.ejs') %>
</body>
</html>
